{{metrics-action 
  resourceType="node"
  duration=duration
  id=node.ipAddress
  dashboardName="Nodes"
  queryAction="query"
}}

<div class="row mt-30">
  <div class="col span-6 pl-20">
    <h2 class="text-left">{{t 'metrics.cpuSection.labelText'}}</h2>
    {{graph-area
      model=stats
      fields=cpuFields
      formatter="percent"
      minMax=100
      loading=loading
    }}
  </div>

  <div class="col span-6">
    <h2 class="text-left">{{t 'metrics.loadSection.labelText'}}</h2>
    {{graph-area
      model=stats
      fields=loadFields
      minMax=1
      loading=loading
    }}
  </div>
</div>

<div class="row mt-30">
 <div class="col span-6 pl-20">
    <h2 class="text-left">{{t 'metrics.memorySection.labelText'}}</h2>
    {{graph-area
      model=stats
      fields=memoryFields
      formatter="percent"
      minMax=100
      loading=loading
    }}
 </div>
  <div class="col span-6">
    <h2 class="text-left">{{t 'metrics.memoryPageSection.labelText'}}</h2>
    {{graph-area
      model=stats
      fields=memoryPageFields
      formatter="kbps"
      loading=loading
    }}
  </div>
</div>

<div class="row mt-30">
  <div class="col span-6 pl-20">
    <h2 class="text-left">{{t 'metrics.diskSection.labelText'}}</h2>
    {{graph-area
      model=stats
      fields=diskFields
      formatter="percent"
      minMax=100
      loading=loading
    }}
  </div>
  <div class="col span-6">
    <h2 class="text-left">{{t 'metrics.storageSection.labelText'}}</h2>
    {{graph-area
      model=stats
      fields=storageFields
      formatter="kbps"
      loading=loading
    }}
  </div>
</div>

<div class="row mt-30">
  <div class="col span-6 pl-20">
    <h2 class="text-left">{{t 'metrics.networkSection.labelText'}}</h2>
    {{graph-area
      model=stats
      fields=networkFields
      formatter="kbps"
      minMax=100
      loading=loading
    }}
  </div>

  <div class="col span-6">
    <h2 class="text-left">{{t 'metrics.networkPacketSection.labelText'}}</h2>
    {{graph-area
      model=stats
      fields=networkPacketFields
      loading=loading
    }}
  </div>

</div>

<div class="row mt-30">
  <div class="col span-6 pl-20">
    <h2 class="text-left">Top 5 Memory Intense Pods</h2>
    {{graph-area
      model=stats
      fields=cpuFields
      formatter="percent"
      minMax=100
      loading=loading
    }}
  </div>

  <div class="col span-6">
    <h2 class="text-left">Top 5 CPU Containers</h2>
    {{graph-area
      model=stats
      fields=cpuFields
      formatter="percent"
      minMax=100
      loading=loading
    }}
  </div>
</div>
<hr class="mt-30"/>