<label class="acc-label pb-5">Match Conditions</label>
{{#if destinationArray.length}}
  <table class="fixed striped mt-20">
    <thead>
      <tr>
        <th>Match Type</th>
        <th>Key</th>
        <th>Condtion</th>
        <th>Value</th>
        {{#if editing}}
          <th width="40">&nbsp;</th>
        {{/if}}
      </tr>
    </thead>

    <tbody>
      {{#each destinationArray as |destination|}}
        <tr>
          <td class="p-5">
            {{new-select
              classNames="form-control"
              content=types
              value="headers"
            }}
          </td>
          <td class="p-5">
            {{input type="text" class="input-sm" value=destination.subset placeholder="e.g. end-user"}}
          </td>
          <td class="p-5">
            {{new-select
              classNames="form-control"
              content=conditions
              value="exact"
            }}
          </td>
          <td class="p-5">
            {{input type="text" class="input-sm" placeholder="e.g. jason"}}
          </td>

          {{#if editing}}
            <td class="text-right">
              <button class="btn bg-primary btn-sm" {{action "removeDestination" destination}}>
                <i class="icon icon-minus"/>
                <span class="sr-only">{{t 'generic.remove'}}</span>
              </button>
            </td>
          {{/if}}
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <div class="row text-center mt-20 mb-20 pt-10">
    <span class="text-muted">{{t 'editVirtualService.destinations.table.noData'}}</span>
  </div>
{{/if}}
{{#if editing}}
  <div class="row mt-20">
    <button class="btn bg-link icon-btn pull-right" {{action "addDestination"}}>
      <span class="darken"><i class="icon icon-plus text-small"></i></span>
      <span>Add Match Condtion</span>
    </button>
  </div>
{{/if}}