{{#if destinationArray.length}}
  <table class="fixed striped mt-20">
    <thead>
      <tr>
        <th>{{t 'editVirtualService.destinations.table.host.label'}}</th>
        <th>{{t 'editVirtualService.destinations.table.subset.label'}}</th>
        <th>{{t 'editVirtualService.destinations.table.port.label'}}</th>
        <th>{{t 'editVirtualService.destinations.table.weight.label'}}</th>
        {{#if editing}}
          <th width="40">&nbsp;</th>
        {{/if}}
      </tr>
    </thead>

    <tbody>
      {{#each destinationArray as |destination|}}
        <tr>
          <td class="p-5">
            {{schema/input-dns-record
              culsterIpNotNull=false
              disabled=(not editing)
              editing=editing
              selected=c
              selectClass="input-sm"
            }}
          </td>
          <td class="p-5">
            {{input type="text" class="input-sm" value=destination.subset placeholder=(t 'editVirtualService.destinations.table.subset.placeholder')}}
          </td>
          <td class="p-5">
            {{input-integer class="input-sm" min="1" max="65535" value=destination.port placeholder=(t 'editVirtualService.destinations.table.port.placeholder')}}
          </td>
          <td class="p-5">
            {{input-integer class="input-sm" min="0" max="100" value=destination.weigth placeholder=(t 'editVirtualService.destinations.table.weight.placeholder')}}
          </td>

          {{#if editing}}
            <td class="text-right">
              <button class="btn bg-primary btn-sm" {{action "removeDestination" destination}}>
                <i class="icon icon-minus"/>
                <span class="sr-only">{{t 'generic.remove'}}</span>
              </button>
            </td>
          {{/if}}
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <div class="row text-center mt-20 mb-20 pt-10">
    <span class="text-muted">{{t 'editVirtualService.destinations.table.noData'}}</span>
  </div>
{{/if}}
{{#if editing}}
  <div class="row mt-20">
    <button class="btn bg-link icon-btn pull-right" {{action "addDestination"}}>
      <span class="darken"><i class="icon icon-plus text-small"></i></span>
      <span>{{t 'editVirtualService.destinations.addDestinationLabel'}}</span>
    </button>
  </div>
{{/if}}