<section class="box">
  <label class="acc-label">{{t "istio.trafficMonitoring.namespace"}}</label>
  {{searchable-select
    content=namespaces
    classNames="form-control inline-block"
    value=namespace
    optionValuePath="id"
    optionLabelPath="displayName"
  }}
  <label class="acc-label ml-20">{{t "istio.trafficMonitoring.versionedApp.label"}}</label>
  {{searchable-select
    content=versionedAppContent
    classNames="form-control inline-block"
    value=versionedApp
    prompt="istio.trafficMonitoring.versionedApp.placeholder"
    localizedPrompt=true
    placeholder=(t "istio.trafficMonitoring.versionedApp.placeholder")
  }}
  <div class="pull-right">
    {{searchable-select
      content=durationContent
      classNames="form-control inline-block"
      value=duration
      localizedLabel=true
    }}
    {{!-- {{searchable-select
      content=timerContent
      classNames="form-control inline-block"
      value=timer
      localizedLabel=true
    }} --}}
    <button type="button" style="height: 37px;margin-top: -4px;" class="btn bg-primary" disabled={{state.loading}} {{action "refresh"}}>
      <span><i class="icon icon-refresh"></i></span>
    </button>
  </div>
</section>

{{traffic-graph
  elements=elements
  edgeLabelMode="none"
  graphType="versionedApp"
  showCircuitBreakers=true
  showMissingSidecars=true
  showNodeLabels=true
  showSecurity=false
  showVirtualServices=false
  forceFit=forceFit
}}
