  <section>
    {{metrics-action
      duration=duration
      dashboards=dashboards
      dashboardName="Etcd"
      queryAction="query"
    }}
    <div class="row">
      <div class="col span-12 pl-20">
        <div class="row banner bg-info basics">
          <div class="vertical-middle">
            <label class="acc-label vertical-middle p-0">Etcd has a leader:</label>
            YES
          </div>

          <div class="vertical-middle">
            <label class="acc-label vertical-middle p-0">The Number of Leader Changes:</label>
            1
          </div>

          <div class="vertical-middle">
            <label class="acc-label vertical-middle p-0">The Number of Failed Proposals:</label>
            1
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col span-6 pl-20">
        <h2 class="text-left">RPC Rate</h2>
        {{graph-area
          model=stats
          lines=lines
          fields=apiServerRequestsCountFields
          formatter="value"
          loading=loading
        }}
      </div>
      <div class="col span-6">
        <h2 class="text-left">Active streams</h2>
        {{graph-area
          model=stats
          lines=lines
          fields=apiServerRequestsCountFields
          formatter="value"
          loading=loading
        }}
      </div>
    </div>
    <div class="row mt-30">
      <div class="col span-6 pl-20">
        <h2 class="text-left">DB Size</h2>
        {{graph-area
          model=stats
          lines=lines
          fields=etcdDbSizeFields
          formatter="mib"
          loading=loading
        }}
      </div>
      <div class="col span-6">
        <h2 class="text-left">Disk Sync Duration</h2>
        {{graph-area
          model=stats
          lines=lines
          fields=apiServerRequestsCountFields
          formatter="value"
          loading=loading
        }}
      </div>
    </div>
    <div class="row mt-30">
      <div class="col span-6 pl-20">
        <h2 class="text-left">Server Used Memory</h2>
        {{graph-area
          model=stats
          lines=lines
          fields=etcdDbSizeFields
          formatter="mib"
          loading=loading
        }}
      </div>
      <div class="col span-6">
        <h2 class="text-left">Client Traffic</h2>
        {{graph-area
          model=stats
          lines=lines
          fields=apiServerRequestsCountFields
          formatter="value"
          loading=loading
        }}
      </div>
    </div>
    <div class="row mt-30">
      <div class="col span-6 pl-20">
        <h2 class="text-left">Peer Traffic</h2>
        {{graph-area
          model=stats
          lines=lines
          fields=etcdDbSizeFields
          formatter="mib"
          loading=loading
        }}
      </div>
      <div class="col span-6">
        <h2 class="text-left">Disk Operation</h2>
        {{graph-area
          model=stats
          lines=lines
          fields=apiServerRequestsCountFields
          formatter="value"
          loading=loading
        }}
      </div>
    </div>
    <div class="row mt-30">
      <div class="col span-6 pl-20">
        <h2 class="text-left">Raft Proposals</h2>
        {{graph-area
          model=stats
          lines=lines
          fields=etcdDbSizeFields
          formatter="mib"
          loading=loading
        }}
      </div>
    </div>
  </section>