<div class="row">
  <label>{{t 'editVirtualService.httpRules.label'}}</label>
</div>
{{#each rules as |rule|}}
  {{form-http-route-row
      editing=editing
      removeRule=(action 'removeRule')
      rule=rule
  }}
{{else}}
  <div class="p-20">{{t 'editVirtualService.httpRules.noRules'}}</div>
{{/each}}

{{#if editing}}
  <div class="row mt-20">
    <button class="btn bg-link icon-btn" {{action "addRule"}}>
      <span class="darken"><i class="icon icon-plus text-small"></i></span>
      <span>{{t 'formIngress.addRuleLabel'}}</span>
    </button>
  </div>
{{/if}}