<div class="row mt-15 text-left">
  <div class="pull-right pl-20 pt-0 mr-10">
    <div class="text-left inline-block">
      <label class="pt-5 acc-label">Period:</label>
      {{new-select
        content=periods
        value=selected
      }}
    </div>
    {{#if (eq selected 'custom')}}
      <div class="text-left inline-block">
        <label class="pt-5 acc-label">From:</label>
        {{ember-flatpickr enableTime=true onChange=(action "onChange")}}
      </div>
      <div class="text-left inline-block">
        <label class="pb-5 acc-label">To:</label>
        {{ember-flatpickr enableTime=true onChange=(action "onChange")}}
      </div>
    {{/if}}
    <button type="button" style="height: 37px;margin-top: -4px;" class="btn bg-primary" disabled={{refreshing}} {{action "refresh"}}>
      <span><i class="icon icon-refresh"></i></span>
    </button>
  </div>
  <div class="pull-left pl-20 pt-0 mr-10">
    <label class="pt-5 acc-label">Mode:</label>
    <div>
      <div class="btn-group no-inline-space">
        <button class="btn btn-link btn-sm bg-primary">Summary</button>
        <button class="btn btn-link btn-sm bg-default">Detail</button>
      </div>
    </div>
  </div>
</div>

<div class="row">
  {{#if grafanaUrl}}
    <div class="pull-right">
      <div class="text-small pr-10 pt-5">
        <a href={{grafanaUrl}} target="_blank" rel="nofollow noopener noreferrer">{{t 'clusterDashboard.grafana.label'}}</a>
      </div>
    </div>
  {{/if}}
</div>

