<div class="row">
  <div class="col span-3">
    {{node-conditions conditionsSource=model.node.conditions}}

    <div class="row-same-height row-full-height mt-50">
      <div class="span-height span-full-height col-top" style="margin-bottom: 20px;">
        <div class="no-padding-margin" style="height: 100%;">
          <div class="text-left">
            <label class="text-muted">{{t 'hostsPage.hostPage.hostname'}}:</label>
            {{model.node.hostname}} {{copy-to-clipboard clipboardText=model.node.hostname size="small"}}
          </div>

          <hr class="mt-15 mb-15"/>

          <div class="text-left">
            <label class="text-muted">{{t 'hostsPage.hostPage.ipAddress'}}:</label>
            <div class="inline-block">{{node-ip model=model.node textMuted=false}}</div>          
          </div>

          <hr class="mt-15 mb-15"/>

          <div class="text-left">  
            <label class="text-muted">{{t 'generic.cpu'}}:</label>
            {{model.node.cpuTotal}}
          </div>
          <hr class="mt-15 mb-15"/>

          <div class="text-left">
            <label class="text-muted">{{t 'generic.memory'}}:</label>
            {{model.node.memoryTotal}}
          </div>
          <hr class="mt-15 mb-15"/>

          <div class="text-left">  
            <label class="text-muted">{{t 'hostsPage.hostPage.kubeletVersion'}}:</label>
            {{model.node.info.kubernetes.kubeletVersion}}
          </div>
          <hr class="mt-15 mb-15"/>

          <div class="text-left">
            <label class="text-muted">{{t 'hostsPage.hostPage.kubeProxyVersion'}}:</label>
            {{model.node.info.kubernetes.kubeProxyVersion}}
          </div>
          <hr class="mt-15 mb-15"/>

          <div class="text-left">
            <label class="text-muted">{{t 'hostsPage.hostPage.dockerVersion'}}:</label>
            {{model.node.info.os.dockerVersion}}
          </div>
          <hr class="mt-15 mb-15"/>
          
          <div class="text-left">
            <label class="text-muted">{{t 'hostsPage.hostPage.kernelVersion'}}:</label>
            {{model.node.info.os.kernelVersion}}
          </div>
          <hr class="mt-15 mb-15"/>
          
          <div class="text-left">
            <label class="text-muted">{{t 'hostsPage.hostPage.operatingSystem'}}:</label>
            {{model.node.osBlurb}}
          </div>
          <hr class="mt-15 mb-15"/>
          
          <div class="text-left">
            <label class="text-muted">{{t 'generic.created'}}:</label>
            {{date-calendar model.node.created}}
          </div>
          <hr class="mt-15 mb-15"/>
        </div>
      </div>
    </div>
  </div>
  <div class="col span-9">
    {{#unless monitoringEnalbed}}
      <div class="row mt-0 mb-0">
        <div class="pull-right text-small">
          <button class="btn bg-transparent p-0" {{action "enalbeMonitoring"}}>{{t 'clusterDashboard.enalbeMonitoring'}}</button>
        </div>
      </div>
    {{/unless}}
    {{#if monitoringEnalbed}}
      {{node-metrics node=model.node duration=duration}}
    {{/if}}
    {{nodes-reservation nodes=model.nodes}}
    {{#accordion-list as |al expandFn|}}
      {{resource-condition-list
        resourceType=(t 'generic.node')
        conditions=model.node.conditions
        expandAll=al.expandAll
        expandFn=expandFn
      }}
      <div class="mt-20">
        {{system-info-section
          node=model.node
          expandAll=al.expandAll
          expandFn=expandFn
        }}
      </div>
      <div class="mt-20">
        {{labels-section
          model=model.node
          showKind=false
          headers=labelHeaders
          expandAll=al.expandAll
          expandFn=expandFn
        }}
      </div>
      <div class="mt-20">
        {{annotations-section
          model=model.node
          expandAll=al.expandAll
          expandFn=expandFn
        }}
      </div>
      <div class="mt-20">
        {{taints-section
          taints=model.node.taints
          expandAll=al.expandAll
          expandFn=expandFn
        }}
      </div>
    {{/accordion-list}}
  </div>
</div>