<div class="box mb-10">
  <div class="row">
    {{#if editing}}
      <div class="pull-right">
        <button class="btn bg-transparent text-small vertical-middle" {{action "removeRule" rule}}>
          {{t 'editVirtualService.httpRules.removeRuleLabel'}}
        </button>
      </div>
    {{else}}
      <!-- 28px is the height of the button, no jumpy -->
      <div style="height: 28px;" class="pull-right"></div>
    {{/if}}
  </div>


  {{form-route-destinations
    editing=editing
  }}

  {{#advanced-section classNames="mt-20" advanced=advanced}}
    <hr class="mt-20"/>
    {{form-route-conditions
      editing=editing
    }}

    <hr class="mt-20"/>
    <label class="acc-label pb-5">Redirect and Rewrite</label>
    <div class="row">
      <div class="col span-6">
        <label class="acc-label">Redirect URI</label>
        {{input type="text" classNames="form-control" placeholder="e.g. /v1/bookRatings"}}
      </div>
      <div class="col span-6">
        <label class="acc-label">Redirect Authority</label>
        {{input type="text" classNames="form-control" placeholder="e.g. newratings.default.svc.cluster.local"}}
      </div>
    </div>

    <div class="row">
      <div class="col span-6">
        <label class="acc-label">Rewrite URI</label>
        {{input type="text" classNames="form-control" placeholder="e.g. /v1/bookRatings"}}
      </div>
      <div class="col span-6">
        <label class="acc-label">Rewrite Authority</label>
        {{input type="text" classNames="form-control" placeholder="e.g. newratings.default.svc.cluster.local"}}
      </div>
    </div>

    <hr class="mt-20"/>
    <label class="acc-label pb-5">Timeout and Retries</label>
    <div class="row">
      <div class="col span-6">
        <label class="acc-label">Request Timeout</label>
        {{input type="text" classNames="form-control" placeholder="e.g. 10s"}}
      </div>
    </div>
  {{/advanced-section}}
</div>
